# --- Server  ---
PORT=
HOSTNAME=
NODE_ENV=

# --- Database  ---
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_HOST=
DB_PORT=


JWT_SECRET=


ALLOWED_ADMIN_IPS=
ADMIN_ACCESS_KEY=

NEXT_PUBLIC_APP_URL=
NEXT_PUBLIC_APP_URL_Admin_Login=

EMAIL_USER=
EMAIL_PASS=
